In [42]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [43]:
data = pd.read_csv("D:\\Datasets\\GPA_data.csv")

In [44]:
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [46]:
dummy = pd.get_dummies(data[["Gender", "Extra_Curricular"]])
dummy.head()

,Gender_Female,Gender_Male,Extra_Curricular_No,Extra_Curricular_Societies,Extra_Curricular_Sports
0,False,True,False,True,False
1,True,False,False,True,False
2,False,True,False,True,False
3,True,False,True,False,False
4,False,True,True,False,False

In [47]:
dummy.drop(["Gender_Female", "Extra_Curricular_No"], axis=1, inplace=True)
dummy.head()

   Gender_Male  Extra_Curricular_Societies  Extra_Curricular_Sports
0         True                        True                    False
1        False                        True                    False
2         True                        True                    False
3        False                       False                    False
4         True                       False                    False

In [48]:
data.drop(["ID","Gender", "Extra_Curricular"], axis = 1, inplace = True)

In [49]:
data.head()

   Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0   22           10        1318792                 154  1.76
1   24            9         874657                 181  3.88
2   22           15        1098331                  94  1.73
3   25            9        1680585                   8  1.29
4   26            7        1361560                 122  3.19

In [50]:
data_new = pd.concat([dummy, data], axis=1)

In [51]:
data_new.head()

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,True,True,False,22,10,1318792,154,1.76
1,False,True,False,24,9,874657,181,3.88
2,True,True,False,22,15,1098331,94,1.73
3,False,False,False,25,9,1680585,8,1.29
4,True,False,False,26,7,1361560,122,3.19

In [52]:
x = data_new.iloc[:,:7].values
y = data_new.iloc[:,7].values

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=0)

In [54]:
model = LinearRegression()

In [55]:
model.fit(x_train,y_train)

LinearRegression()

In [56]:
model.intercept_

2.264793528042698

In [57]:
model.coef_

array([-5.12717033e-02,  2.65567024e-02,  4.36877818e-02,  1.12426507e-02,
       -1.03471765e-02,  9.62872140e-08, -2.21608112e-04])

In [58]:
model.score(x_train,y_train)

0.007164234631799715

In [59]:
y_pred = model.predict(x_test)

In [60]:
MSE = mean_squared_error(y_pred, y_test)
MSE

0.7423989909747337

In [61]:
RMSE = np.sqrt(MSE)
RMSE

0.8616257836060466

In [62]:
arr=np.array([True,True,False,22,10,1318792,154]).reshape(1,7)
arr.shape

(1, 7)

In [63]:
model.predict(arr)

array([2.47680024])